@model IEnumerable<GerenciadorLives.Models.Inscricoes>

@{
    ViewData["Title"] = "Inscrições";
}

<h1>Inscrições</h1>

<p>
    <a asp-action="Create">Nova Inscrição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Live)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscrito.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Live.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InscricaoId">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.InscricaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.InscricaoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
