@model IEnumerable<GerenciadorLives.Models.Inscricoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Live)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscrito.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Live.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InscricaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InscricaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InscricaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
