@model GerenciadorLives.Models.Instrutores

@{
    ViewData["Title"] = "Detalhe";
}

<h1>Detalhe</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lives)
        </dt>



        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Lives</th>
                    <th>Data</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Lives)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>                    
                    <a asp-action="Details" asp-controller="Lives" asp-route-id="@item.LiveId">Detalhe</a>
                </td>
            </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstrutorId">Alterar</a> |
    <a asp-action="Index">Listar</a>
</div>
