@model IEnumerable<GerenciadorLives.Models.Instrutores>

@{
    ViewData["Title"] = "Instrutores";
}

<h1>Instrutores</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="filtro" value="@ViewData["FiltroAtual"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-action="Index">Lista Completa</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstrutorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.InstrutorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.InstrutorId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
